<section>
    <div class="section_content">
        <div class="my_picture">
            <img class="foreground" src="../../../assets/img/picture-of-me.png" alt="">
            <img class="background" src="assets/img/background-my-picture.png" alt="">
        </div>
        <div class="about_me">
            <h4>{{ 'who_i_am' | translate }}</h4>
            <div class="info_container">
                <h1>{{ 'about_me' | translate }}</h1>
                <div class="info_content">
                    <p>{{ 'about_me_text' | translate }}</p>
                    <div class="content_sector">
                        <img src="assets/img/location-icon-green.png" alt="">
                        <span>{{ 'location_text' | translate }}</span>
                    </div>
                    <div class="content_sector">
                        <img src="assets/img/mindset-icon-green.png" alt="">
                        <span>{{ 'mindset_text' | translate }}</span>
                    </div>
                    <div class="content_sector">
                        <img src="assets/img/profession-icon-green.png" alt="">
                        <span>{{ 'profession_text' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>