<section>
    <nav>
        <div class="links">
            <img [src]="imageSrc" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" (click)="translateWebsite()"
                alt="Language Toggle" style="cursor: pointer;">
            <a (click)="navigateToSection('aboutMeSection')" class="pointer_cursor">{{ 'about_me' | translate }}</a>
            <a (click)="navigateToSection('aboutProjectsSection')" class="pointer_cursor">{{ 'projects' | translate }}</a>
            <a (click)="navigateToSection('aboutSkillsSection')" class="pointer_cursor">{{ 'skills' | translate }}</a>
        </div>
        <div class="mobile_menu" (click)="toggleMenu()">
            <img src="../../../assets/img/menu-icon-white.png" alt="menu icon" class="menu-icon">
        </div>
        <div class="open_menu" *ngIf="isMenuOpen">
            <div class="mobile_links">
                <a (click)="navigateToSection('aboutMeSection'); toggleMenu()">{{ 'about_me' | translate }}</a>
                <a (click)="navigateToSection('aboutSkillsSection'); toggleMenu()">{{ 'skills' | translate }}</a>
                <a (click)="navigateToSection('aboutProjectsSection'); toggleMenu()">{{ 'projects' | translate }}</a>
                <img [src]="imageSrc" 
                     (mouseover)="onMouseOver()" 
                     (mouseout)="onMouseOut()" 
                     (click)="translateWebsite()"
                     alt="Language Toggle">
            </div>
        </div>
    </nav>
</section>