<app-header></app-header>

<section>
    <div class="section_content">
        <h1>{{ 'privacy-policy' | translate }}</h1>
        <h2 id="m716">{{ 'preamble' | translate }}</h2>
        <p>{{ 'data-processing' | translate }}</p>
        <p>{{ 'non_gender_specific' | translate }}</p>

        <p>{{ 'status_date' | translate }}</p>
        <h2>{{ 'contents_overview' | translate }}</h2>
        <ul class="index">
            <li><a class="index-link" href="#m716">{{ 'preamble' | translate }}</a></li>
            <li><a class="index-link" href="#m3">{{ 'responsible_person' | translate }}</a></li>
            <li><a class="index-link" href="#mOverview">{{ 'processing_overview' | translate }}</a></li>
            <li><a class="index-link" href="#m2427">{{ 'legal_basis' | translate }}</a></li>
            <li><a class="index-link" href="#m27">{{ 'security_measures' | translate }}</a></li>
            <li><a class="index-link" href="#m25">{{ 'data_transfer' | translate }}</a></li>
            <li><a class="index-link" href="#m24">{{ 'international_data_transfers' | translate }}</a></li>
            <li><a class="index-link" href="#m12">{{ 'data_storage_and_deletion' | translate }}</a></li>
            <li><a class="index-link" href="#m317">{{ 'business_services' | translate }}</a></li>
            <li><a class="index-link" href="#m225">{{ 'online_offer_and_webhosting' | translate }}</a></li>
            <li><a class="index-link" href="#m134">{{ 'cookie_use' | translate }}</a></li>
            <li><a class="index-link" href="#m182">{{ 'contact_and_inquiry_management' | translate }}</a></li>
            <li><a class="index-link" href="#m263">{{ 'web_analysis_and_optimization' | translate }}</a></li>
            <li><a class="index-link" href="#m136">{{ 'social_media_presences' | translate }}</a></li>
            <li><a class="index-link" href="#m328">{{ 'plugins_and_embedded_functions' | translate }}</a></li>
            <li><a class="index-link" href="#m15">{{ 'changes_and_updates' | translate }}</a></li>
        </ul>
        <h2 id="m3">{{ 'responsible_person' | translate }}</h2>
        <p>Thomas Winkler<br>Plauenerstr 52<br>13055 Berlin<br>{{ 'germany' | translate }}</p>
        <p>{{ 'email_address' | translate }} <a href="mailto:thomaswinkler88@googlemail.com">: thomaswinkler88&#64;googlemail.com</a></p>

        <h2 id="mOverview">{{ 'processing_overview' | translate }}</h2>
        <p>{{ 'overview_description' | translate }}</p>
        <h3>{{ 'data_types' | translate }}</h3>
        <ul>
            <li>{{ 'inventory_data' | translate }}</li>
            <li>{{ 'payment_data' | translate }}</li>
            <li>{{ 'content_data' | translate }}</li>
            <li>{{ 'contract_data' | translate }}</li>
            <li>{{ 'usage_data' | translate }}</li>
            <li>{{ 'meta_communication_and_procedural_data' | translate }}</li>
            <li>{{ 'contact_data' | translate }}</li>
            <li>{{ 'log_data' | translate }}</li>
        </ul>
        <h3>{{ 'affected_person_categories' | translate }}</h3>
        <ul>
            <li>{{ 'beneficiaries_and_clients' | translate }}</li>
            <li>{{ 'prospects' | translate }}</li>
            <li>{{ 'communication_partners' | translate }}</li>
            <li>{{ 'users' | translate }}</li>
            <li>{{ 'business_and_contract_partners' | translate }}</li>
        </ul>
        <h3>{{ 'processing_purposes' | translate }}</h3>
        <ul>
            <li>{{ 'contractual_performance_and_obligations' | translate }}</li>
            <li>{{ 'communication' | translate }}</li>
            <li>{{ 'security_measures' | translate }}</li>
            <li>{{ 'reach_measurement' | translate }}</li>
            <li>{{ 'office_and_organizational_procedures' | translate }}</li>
            <li>{{ 'organizational_and_administrative_procedures' | translate }}/li>
            <li>{{ 'feedback' | translate }}</li>
            <li>{{ 'user_profiles_with_personal_information' | translate }}</li>
            <li>{{ 'online_offer_and_user_friendly_design' | translate }}</li>
            <li>{{ 'it_infrastructure' | translate }}</li>
            <li>{{ 'public_relations' | translate }}</li>
            <li>{{ 'business_processes_and_operations' | translate }}</li>
        </ul>
        <h2 id="m2427">{{ 'relevant_legal_basis' | translate }}</h2>
        <p><strong>{{ 'german_data_protection_law_heading' | translate }}</strong>{{ 'german_data_protection_law' |
            translate }}</p>

        <h2 id="m27">{{ 'security_measures_heading' | translate }}</h2>
        <p>{{ 'security_measures_paragraph_1' | translate }}</p>
        <p>{{ 'security_measures_paragraph_2' | translate }}</p>
        <p>{{ 'security_measures_paragraph_3' | translate }}</p>

        <h2 id="m25">{{ 'data_transmission_heading' | translate }}</h2>
        <p>{{ 'data_transmission_paragraph_1' | translate }}</p>
        <p>{{ 'data_transmission_paragraph_2' | translate }}</p>

        <h2 id="m24">{{ 'international_data_transfers_heading' | translate }}Internationale Datentransfers</h2>
        <p>{{ 'international_data_transfers_paragraph_1' | translate }} <a
                href="https://www.bj.admin.ch/bj/de/home/staat/datenschutz/internationales/anerkennung-staaten.html"
                target="_blank">https://www.bj.admin.ch/bj/de/home/staat/datenschutz/internationales/anerkennung-staaten.html</a>,
            {{ 'international_data_transfers_paragraph_2' | translate }}
            <a href="https://www.dataprivacyframework.gov/" target="_blank">https://www.dataprivacyframework.gov/</a>
            {{ 'international_data_transfers_paragraph_3' | translate }}
        </p>

        <h2 id="m12">{{ 'general_data_storage_and_deletion_heading' | translate }}</h2>
        <p>{{ 'general_data_storage_and_deletion_paragraph_1' | translate }}</p>
        <p>{{ 'general_data_storage_and_deletion_paragraph_2' | translate }}</p>
        <p>{{ 'general_data_storage_and_deletion_paragraph_3' | translate }}</p>
        <p>{{ 'general_data_storage_and_deletion_paragraph_4' | translate }}</p>
        <p>{{ 'general_data_storage_and_deletion_paragraph_5' | translate }}</p>
        <p>{{ 'general_data_storage_and_deletion_paragraph_6' | translate }}</p>
        <p><strong>{{ 'additional_information_processing_processes_heading' | translate }} </strong></p>
        <ul class="m-elements">
            <li><strong>{{ 'data_storage_and_deletion_heading' | translate }} </strong>{{
                'data_storage_and_deletion_paragraph_1' | translate }}<ul>
                    <li>{{ 'storage_period_1' | translate }}</li>
                    <li>{{ 'storage_period_2' | translate }}</li>
                </ul>
            </li>
        </ul>
        <h2 id="m317">{{ 'business_services_heading' | translate }}</h2>
        <p>{{ 'contractual_and_business_partners_paragraph_1' | translate }}</p>
        <p>{{ 'use_of_data_paragraph_2' | translate }}</p>
        <p>{{ 'data_requirements_paragraph_3' | translate }}</p>
        <p>{{ 'data_deletion_paragraph_4' | translate }}</p>
        <ul class="m-elements">
            <li><strong>{{ 'processed_data_types_strong' | translate }}</strong> {{ 'processed_data_types_p' | translate
                }}li>
            <li><strong>{{ 'affected_people_strong' | translate }}</strong> {{ 'affected_people_p' | translate }}</li>
            <li><strong>{{ 'purposes_of_processing_strong' | translate }}</strong> {{ 'purposes_of_processing_p' |
                translate }}</li>
            <li><strong>{{ 'storage_and_deletion_strong' | translate }}</strong> {{ 'storage_and_deletion_p' | translate
                }}</li>
            <li class=""><strong>{{ 'legal_bases_strong' | translate }}</strong> {{ 'legal_bases_p' | translate }}</li>
        </ul>
        <p><strong>{{ 'additional_notes_strong' | translate }}</strong></p>
        <ul class="m-elements">
            <li><strong>{{ 'project_and_development_services_strong' | translate }} </strong>{{
                'project_and_development_services_p' | translate }}
                <br><br>{{ 'required_information_p' | translate }} <span class=""><strong>{{ 'legal_bases_strong' |
                        translate }}</strong> {{ 'legal_bases_span_p' | translate }}</span>
            </li>
        </ul>
        <h2 id="m225">{{ 'h2' | translate }}</h2>
        <p>{{ 'online_services_p' | translate }}</p>
        <ul class="m-elements">
            <li><strong>{{ 'processed_data_types_strong' | translate }}</strong> {{ 'processed_data_types_li' |
                translate }}</li>
            <li><strong>{{ 'affected_persons_strong' | translate }}</strong> {{ 'affected_persons_li' | translate }}
            </li>
            <li><strong>{{ 'processing_purposes' | translate }}</strong> {{ 'purposes_of_processing_li' | translate }}
            </li>
            <li><strong>{{ 'retention_and_deletion_strong' | translate }}</strong> {{ 'retention_and_deletion_li' |
                translate }}</li>
            <li class=""><strong>{{ 'legal_bases_strong' | translate }}</strong> {{ 'legal_bases_li' | translate }}</li>
        </ul>
        <p><strong>{{ 'p1' | translate }}</strong></p>
        <ul class="m-elements">
            <li><strong>{{ 'hosting_strong' | translate }} </strong>{{ 'hosting_text' | translate }} <span
                    class=""><strong>{{ 'legal_bases_strong' | translate }}</strong> {{ 'legal_bases_li' | translate
                    }}</span></li>
            <li><strong>{{ 'logfiles_strong' | translate }} </strong>{{ 'logfiles_text' | translate }}
                <span class=""><strong>{{ 'legal_bases_strong' | translate }}</strong> {{ 'legal_bases_li' | translate
                    }} </span>
                <strong>{{ 'logfiles_deletion_strong' | translate }}</strong> {{ 'logfiles_deletion' | translate }}
            </li>
            <li><strong>{{ 'email_hosting_strong' | translate }} </strong>{{ 'email_text' | translate }} <span
                    class=""><strong>{{ 'legal_bases_strong' | translate }}</strong> {{ 'legal_bases_li' | translate
                    }}</span></li>
        </ul>
        <h2 id="m134">{{ 'cookie_usage_h2' | translate }}</h2>
        <p>{{ 'cookie_description_p1' | translate }}</p>
        <p><strong>{{ 'law_notes_strong' | translate }} </strong>{{ 'law_notes' | translate }}</p>
        <p><strong>{{ 'storage_duration_strong' | translate }} </strong>{{ 'storage_duration' | translate }}</p>
        <ul>
            <li><strong>{{ 'temp_cookies_strong' | translate }} </strong> {{ 'temp_cookies' | translate }}</li>
            <li><strong>{{ 'perm_cookies_strong' | translate }} </strong> {{ 'perm_cookies' | translate }}</li>
        </ul>
        <p><strong>{{ 'general_revocation_notice_strong' | translate }}</strong>{{ 'general_revocation_notice' |
            translate }}</p>
        <ul class="m-elements">
            <li><strong>{{ 'processed_data_types_strong' | translate }}</strong> {{ 'processed_data_types' | translate
                }}</li>
            <li><strong>{{ 'affected_persons_strong' | translate }}</strong> {{ 'affected_persons' | translate }}</li>
            <li class=""><strong>{{ 'legal_bases_strong' | translate }}</strong> {{ 'legal_bases_li' | translate }}</li>
        </ul>
        <p><strong>{{ 'additional_processing_information_strong' | translate }}</strong></p>
        <ul class="m-elements">
            <li><strong>{{ 'cookie_data_processing_strong' | translate }} </strong>{{ 'cookie_data_processing_strong' |
                translate }} <span class=""><strong>{{ 'legal_bases_strong' | translate }}</strong> {{ 'legal_bases_li'
                    | translate }}</span>
            </li>
        </ul>
        <h2 id="m182">{{ 'contact_management_heading' | translate }}</h2>
        <p>{{ 'contact_management_paragraph' | translate }}</p>
        <ul class="m-elements">
            <li><strong>{{ 'processed_data_types_strong' | translate }}</strong> {{ 'processed_data_types' | translate
                }}</li>
            <li><strong>{{ 'affected_persons_strong' | translate }}</strong> {{ 'affected_persons' | translate }}</li>
            <li><strong>{{ 'processing_purposes_strong' | translate }}</strong> {{ 'processing_purposes' | translate }}
            </li>
            <li><strong>{{ 'storage_and_deletion_strong' | translate }}</strong> {{ 'storage_and_deletion' | translate
                }}</li>
            <li class=""><strong>{{ 'legal_bases_strong' | translate }}</strong> {{ 'legal_bases' | translate }}</li>
        </ul>
        <p><strong>{{ 'additional_processing_info_heading' | translate }}</strong></p>
        <ul class="m-elements">
            <li><strong>{{ 'contact_form_strong' | translate }} </strong>{{ 'contact_form' | translate }}
                <span class=""><strong>{{ 'legal_bases_strong' | translate }}</strong> {{ 'legal_bases' | translate
                    }}</span>
            </li>
        </ul>
        <h2 id="m263">{{ 'web_analysis_heading' | translate }}</h2>
        <p>{{ 'web_analysis_1' | translate }} </p>
        <p>{{ 'web_analysis_2' | translate }}</p>
        <p>{{ 'web_analysis_3' | translate }}</p>
        <p>{{ 'web_analysis_4' | translate }}</p>
        <p>{{ 'legal_bases' | translate }}</p>
        <ul class="m-elements">
            <li><strong>{{ 'processed_data_types' | translate }}</strong> {{ 'processed_data_description' | translate }}
            </li>
            <li><strong>{{ 'affected_persons' | translate }}</strong> {{ 'affected_persons_description' | translate }}
            </li>
            <li><strong>{{ 'processing_purposes' | translate }}</strong> {{ 'processing_purposes_description' |
                translate }}</li>
            <li><strong>{{ 'storage_and_deletion' | translate }}</strong> {{ 'storage_and_deletion_description' |
                translate }}</li>
            <li><strong>{{ 'security_measures' | translate }}</strong> {{ 'security_measures_description' | translate }}
            </li>
            <li class=""><strong>{{ 'legal_bases' | translate }}</strong> {{ 'legal_bases_description' | translate }}
            </li>
        </ul>
        <p><strong>{{ 'further_information' | translate }}</strong></p>
        <ul class="m-elements">
            <li><strong>{{ 'google_analytics' | translate }} </strong>{{ 'google_analytics_description' | translate
                }}<br>{{ 'google_analytics_break_1' | translate }} <strong>{{ 'service_provider' | translate
                    }}</strong> {{ 'service_provider_description' | translate }}
                <span class=""><strong>{{ 'legal_bases' | translate }}</strong> {{
                    'legal_bases_description' | translate }}</span>
                    <strong>{{ 'strong_website' | translate }}</strong> <a href="https://marketingplatform.google.com/intl/de/about/analytics/"
                    target="_blank">https://marketingplatform.google.com/intl/de/about/analytics/</a>;
                <strong>{{ 'strong_security_measures' | translate }}</strong> {{ 'strong_ip_masking' | translate }}
                <strong>{{ 'strong_privacy_policy' | translate }}</strong> <a href="https://policies.google.com/privacy"
                    target="_blank">https://policies.google.com/privacy</a>;
                <strong>{{ 'strong_data_processing_agreement' | translate }}</strong> <a
                    href="https://business.safety.google/adsprocessorterms/"
                    target="_blank">https://business.safety.google/adsprocessorterms/</a>; <strong>{{ 'strong_third_country_transfer_basis' | translate }}</strong> 
                    {{ 'adequacy_decision' | translate }} <strong>{{ 'strong_opt_out_option' | translate }}</strong> 
                    {{ 'legal_bases_opt_out_plugin' | translate }} <a href="https://tools.google.com/dlpage/gaoptout?hl=de"
                    target="_blank">https://tools.google.com/dlpage/gaoptout?hl=de</a>{{ 'legal_bases_personalization_settings' | translate }} <a href="https://myadcenter.google.com/personalizationoff"
                    target="_blank">https://myadcenter.google.com/personalizationoff</a>. <strong>{{ 'legal_bases_further_information' | translate }}</strong> <a href="https://business.safety.google/adsservices/"
                    target="_blank">https://business.safety.google/adsservices/</a> {{ 'legal_bases_processing_types' | translate }}</li>
        </ul>
        <h2 id="m136">{{ 'social_media_presences' | translate }}</h2>
        <p>{{ 'social_media_description' | translate }}</p>
        <p>{{ 'social_media_warning' | translate }}</p>
        <p>{{ 'social_media_data_processing' | translate }}</p>
        <p>{{ 'social_media_privacy' | translate }}</p>
        <p>{{ 'social_media_requests' | translate }}</p>
        <ul class="m-elements">
            <li><strong>{{ 'processed_data_types' | translate }}</strong> {{ 'processed_data_description' | translate }}</li>
            <li><strong>{{ 'affected_persons' | translate }}</strong> {{ 'affected_persons_description' | translate }}</li>
            <li><strong>{{ 'processing_purposes' | translate }}</strong> {{ 'processing_purposes_description' | translate }}</li>
            <li><strong>{{ 'storage_and_deletion' | translate }}</strong> {{ 'storage_and_deletion_description' | translate }}</li>
            <li class=""><strong>{{ 'legal_bases' | translate }}</strong> {{ 'legal_bases_description' | translate }}</li>
        </ul>
        <p><strong>{{ 'further_notes_on_processing' | translate }}</strong></p>
        <ul class="m-elements">
            <li><strong>{{ 'linkedin' | translate }} </strong>{{ 'linkedin_description' | translate }} <a href="https://www.linkedin.com/legal/privacy-policy"
                    target="_blank">https://www.linkedin.com/legal/privacy-policy.</a><br>{{ 'agreement_with_linkedin' | translate }} <a
                    href="https://legal.linkedin.com/pages-joint-controller-addendum"
                    target="_blank">https://legal.linkedin.com/pages-joint-controller-addendum</a>{{ 'agreement_description' | translate }} 
                    <strong>{{ 'service_provider' | translate }}</strong> {{ 'linkedin_provider' | translate }} <span class=""><strong>{{ 'legal_bases' | translate }}</strong>
                        {{ 'legitimate_interests' | translate }} </span><strong>{{ 'strong_website' | translate }}</strong> <a
                    href="https://www.linkedin.com" target="_blank">https://www.linkedin.com</a>;
                <strong>{{ 'strong_privacy_policy' | translate }}</strong> <a href="https://www.linkedin.com/legal/privacy-policy"
                    target="_blank">https://www.linkedin.com/legal/privacy-policy</a>; <strong>{{ 'strong_third_country_transfer_basis' | translate }}
                    </strong> {{ 'linkedin' | translate }} <strong>{{ 'strong_opt_out_option' | translate }}
                    </strong> <a href="https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out"
                    target="_blank">https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out</a>.
            </li>
        </ul>
        <h2 id="m328">{{ 'm328_title' | translate }}</h2>
        <p>{{ 'plug_in_description' | translate }}</p>
        <p>{{ 'data_processing_info' | translate }}</p>
        <p><strong>{{ 'legal_bases_notes' | translate }}</strong> {{ 'legal_bases_consent' | translate }}</p>
        <ul class="m-elements">
            <li><strong>{{ 'processed_data_types' | translate }}</strong> {{ 'processed_data_description' | translate }}</li>
            <li><strong>{{ 'affected_persons' | translate }}</strong> {{ 'affected_persons_description' | translate }}</li>
            <li><strong>{{ 'processing_purposes' | translate }}</strong> {{ 'processing_purposes_description' | translate }}</li>
            <li><strong>{{ 'storage_and_deletion' | translate }}</strong> {{ 'storage_and_deletion_description' | translate }}</li>
            <li class=""><strong>{{ 'legal_bases' | translate }}</strong> {{ 'legal_bases_description' | translate }}</li>
        </ul>
        <p><strong>{{ 'additional_processing_notes' | translate }}</strong></p>
        <ul class="m-elements">
            <li><strong>{{ 'third_party_software_integration' | translate }} </strong>{{ 'third_party_software_integration_description' | translate }} <span class=""><strong>{{ 'legal_bases' | translate }}</strong>
                 {{ 'legal_bases' | translate }}</span></li>
            <li><strong>{{ 'google_fonts_server_hosting' | translate }} </strong>{{ 'google_fonts_server_hosting_description' | translate }} <strong>{{ 'service_provider' | translate }}</strong>
                {{ 'google_fonts_hosted' | translate }} <span
                    class=""><strong>{{ 'legal_bases' | translate }}</strong> {{ 'legal_bases' | translate }}</span></li>
            <li><strong>{{ 'myfonts' | translate }} </strong>{{ 'font_data' | translate }}
                <strong>{{ 'service_provider' | translate }}</strong> {{ 'monotype' | translate }} <span class="">
                    <strong>{{ 'legal_bases' | translate }}</strong> {{ 'legitimate_interests' | translate }} </span><strong>{{ 'website' | translate }}Website:</strong> <a href="https://www.myfonts.co"
                    target="_blank">https://www.myfonts.co</a>. <strong>{{ 'privacy_policy' | translate }}</strong> <a
                    href="https://www.myfonts.com/info/legal/#Privacy"
                    target="_blank">https://www.myfonts.com/info/legal/#Privacy</a>.
            </li>
        </ul>
        <h2 id="m15">{{ 'changes_and_updates_title' | translate }}</h2>
        <p>{{ 'changes_and_updates_paragraph_1' | translate }}</p>
        <p>{{ 'changes_and_updates_paragraph_2' | translate }}</p>

        <p class="seal"><a href="https://datenschutz-generator.de/"
                title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
                rel="noopener noreferrer nofollow">{{ 'created_with_privacy_generator' | translate }}</a>
        </p>
    </div>
    <div class="back_to_homepage">
        <a [routerLink]="['../main']">{{ 'back_to_homepage' | translate }} <img src="../../assets/img/arrow-forward-green.png" alt=""></a>
    </div>
</section>

<app-footer></app-footer>